<!DOCTYPE html>

<HTML lang="es"> 
		<HEAD>
			<TITLE> SIDECO </TITLE>  
				<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
					<meta charset="utf-8">
						<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
							<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
								<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
									<link rel="stylesheet" type="text/css" href="css/style.css">
 <style>
.button {
    background-color: #F1AA05;
    border: none;
    color: black;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 30px;
    cursor: pointer;
}
  </style>


	<a href="loguearse">
		<button type="button" class="btn btn-warning" href="#">Loguearse</button>
	</a>

<div class="pull-right">

	<a href="crearusuario">
		<button type="button" class="btn btn-warning" href="#">Registrarse</button>
	</a>
</div>

		</HEAD>    
	 <div align="center"> <body background="fondo.jpg" ; background-size: cover; background-repeat: no-repeat>  </div>

		<h1 align="center">
			<font size= 30pt face="henny penny" color="#FA5858">
				<p class="sombra1">
					<b>
						<I>
							SIDECO
						</i>
					</b>
				</p>
			</font>
		</h1>

		<h2> 
			<font size= 16pt color="#F78181">
				<b>
					<I>
						<span class='sombra4'> ¿Quienes somos? </span>
					</i> 
				</b>
			</font>
		</h2>

	<p> 
		<font size= 5pt style="color: #F5A9A9"> 
			Blablabla
		</font> 
	</p>

	<IMG SRC="tabla.png">

	<br> <br>
	<p>  
		<font size= 5pt style="color: #F5A9A9"> 
			blablabla
		</font> 
	</p>



	</BODY>
</HTML>

