{% extends 'sideco_home.html' %}

{% block content %}
  <h2>Bienvenid@ a Sideco, {{ user.get_full_name() }} <small>(@{{ user.username }})</small>!</h2>
<br>
<img src="https://tse2.mm.bing.net/th?id=OIP.fO5KT_NCXIJ-IIN7mFdgEwDIDI&pid=15.1&P=0&w=300&h=300" align="left">
  <p>Sos un: {{ user.profile_type() }}</p>
  <p>Algunos datos relevantes son:</p>
  {% if user.is_empresa() %}
    <p>CUIT: {{ user.profile().CUIT }}</p>
  {% endif %}
  {% if user.is_desocupado() %}
    <p>DNI: {{ user.profile().DNI }}</p>
    <p>Profesion: {{ user.profile().profesion }}</p>
    <p>Habilidades: {{ user.profile().habilidades }}</p>
    <p>Formacion: {{ user.profile().formacion }}</p>
    <p>Experiencia laboral: {{ user.profile().experiencia_laboral }}</p>
  {% endif %}

<br>
<br>
<a href="{{ url('eliminar') }}" target="_self"> <input type="button" name="boton" value="Elimina tu perfil" />  </a>
<a href="{{ url('editar') }}" target="_self"> <input type="button" name="boton" value="Edita tus datos" />  </a>

<br>
<br>  
<a href="{{ url('logout') }}" target="_self"> <input type="button" name="boton" value="Cerrar sesión"  />  </a>
{% endblock %}
